faiss-cpu==1.10.0
groq==0.11.0
huggingface-hub==0.29.1
langchain==0.3.19
langchain-community==0.3.18
langchain-core==0.3.37
langchain-google-vertexai==2.0.13
langchain-groq==0.2.4
langchain-huggingface==0.1.2
langchain-text-splitters==0.3.6
langdetect==1.0.9
langsmith==0.1.147
onnx==1.16.1
pdf2image==1.17.0
pi_heif==0.21.0
pypdf==4.3.1
PyPDF2==3.0.1
pypdfium2==4.30.1
streamlit==1.38.0
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.5.5
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.9
streamlit-keyup==0.3.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
transformers==4.49.0
